<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <add key="GEDYS IntraWare BusinessApp" value="http://tfsfud01.intraware.de:8080/tfs/Development/_packaging/BusinessApp/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="GEDYS IntraWare BusinessApp" value="true" />
  </disabledPackageSources>
</configuration>